/* CSS */
#loginPopup{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 20px;
	height: 60%;
	width: 30%;
}

#loginPopup .list{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.popupContent {
    display: flex;
	justify-content:space-evenly;
    align-items: center;
}

#closePopup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.loginPopup form{
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content:space-evenly;
	align-items: center;
}

.loginPopup form .select{
	display: flex;
	justify-content: center;
	align-items: center;
}