@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Shrikhand&&family=Lobster&family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	line-height: 1.2rem;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

/* 重置字體 */
body {
	font-family:
		"Noto Sans TC", sans-serif;
	font-size: 100%;
	letter-spacing: .2rem;
}

/* container-topbar */
#container-topbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	z-index: 999;
	background-color: #FFFFFF;
}

.logo {
	padding: 0 0 0 30px;
	width: 65px;
}

#container-topbar .navigation {
	display: flex;
	padding: 0 50px;
}

#container-topbar .navigation .menu {
	display: flex;
	align-items: center;
	gap: 20px;
}

#container-topbar .navigation .menu li {
	border-right: solid 1px #A15C38;
	padding: 0 20px 0 0;
}

#container-topbar .navigation .menu li:last-child {
	border-right: none;
}

#container-topbar .navigation .menu a {
	color: #A15C38;
	text-decoration: none;
	font-size: 1.2rem;
	border-bottom: solid 2px transparent;
}

#container-topbar .navigation .menu a:hover {
	border-bottom: solid 2px #FFFFFF;
	transition: 0.35s ease-in-out;
	padding-bottom: 6px;
}

#container-topbar .navigation .icon {
	display: flex;
	padding: 0 0 0 100px;
	gap: 20px;
}

#container-topbar .navigation .icon a img {
	width: 24px;
	height: 24px;
	color: rgba(161, 92, 56, 1);
}

/*主頁共用區*/
section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


/*購物車*/

#shoppingCart {
	width: 100%;
	background-image: url(../images/shopping/image-bg-rpc.jpg);
	background-position-y: 30%;
	background-position-x: -5 5%;
	position: relative;
	z-index: 1;
}

.top {
	max-width: 100%;
	width: 90%;
	display: flex;
	align-items: flex-start;
	background-color: #FFFFFF;
	height: 84px;
	border-radius: 20px;
	margin-top: 140px;
	margin-bottom: 54px;
	box-shadow: 0px 2px 0px #cecece;
}

h2 {
	font-family: "Noto Sans TC";
	font-weight: 500;
	font-size: 24px;
	letter-spacing: .12rem;
	border-bottom: 4px solid #A62014;
	margin: 17px 0 32px 20px;
	padding-bottom: 8px;
	color: #A62014;
}

h3 {
	font-size: 20px;
	letter-spacing: .32rem;
}

h4 {
	font-size: 16px;
	letter-spacing: .2rem;
}

.option,
.option1,
.option2 {
	display: flex;
	background-color: #FFFFFF;
	border-radius: 20px;
}

.option {
	max-width: 100%;
	width: 90%;
	height: 64px;
	margin-bottom: 32px;
	align-items: center;
}

.option div {
	margin-left: 150px;
}

@media(max-width:1439px) {
	.option div {
		margin-left: 110px;
	}
}

.option .check {
	margin-right: 400px;
	margin-left: 40px;
}

@media(max-width:1439px) {
	.option .check {
		margin-right: 200px;
		margin-left: 10px;
	}
}

.option1 {
	max-width: 100%;
	width: 90%;
	height: 204px;
	margin-bottom: 45px;
	align-items: center;
}

.option1 .check {
	margin-left: 40px;
	margin-right: 20px;
}

@media(max-width:1439px) {
	.option1 .check {
		margin-left: 10px;
	}
}

.option1 .item {
	display: flex;
	margin-right: 170px;
}

@media(max-width:1439px) {
	.option1 .item {
		margin-right: 60px;
	}	
}
.option1 .item .img {
	max-width: 200px;
	height: 132px;
	margin-right: 20px;
}
@media(max-width:1439px) {
	.option1 .item .img {
		max-width: 100px;
		height: 90px;
	}
}
.option1 .item img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.option1 .item .detail .date {
	color: #687477;
	font-size: 12px;
	letter-spacing: .24rem;
}

@media(max-width:1439px) {
	.detail h3 {
		font-size: 16px;
		letter-spacing: .2rem;
	}
	.detail h4{
		font-size: 12px;
		letter-spacing: .2rem;
	}
}

.option1 .item .detail .ticket {
	font-size: 12px;
	letter-spacing: .24rem;
}

.option1 .price {
	margin-right: 105px;
}
@media(max-width:1439px) {
	.option1 .price  {
		margin-right: 65px;
	}
}
.option1 .countdetail {
	align-items: center;
	padding-bottom: 20px;
	padding-top: 15px;
	margin-right: 90px;
}
@media(max-width:1439px) {
	.option1 .countdetail {
		margin-right: 60px;
	}
}
.countdetail button {
	width: 30px;
	height: 30px;
	font-size: 18px;
	border: 1px solid #ccc;
	background-color: #ffffff;
	cursor: pointer;
}

.countdetail button:hover {
	background-color: #ccc;
}

.countdetail input[type="text"] {
	width: 50px;
	height: 30px;
	text-align: center;
	border: 1px solid #ccc;
	background-color: #ffffff;
}

.option1 .total {
	margin-right: 150px;
	color: #A62014;
}
@media(max-width:1439px) {
	.option1 .total {
		margin-right: 90px;
	}
}
.option1 .operate .edit {
	padding-bottom: 10px;
	background-color: transparent;
}

.option1 .operate button {
	font-size: 16px;
	letter-spacing: .2rem;
	background-color: transparent;
	border: none;
}

.option2 {
	max-width: 100%;
	width: 90%;
	height: 122px;
	margin-bottom: 117px;
	align-items: center;
}

.option2 .check {
	margin-left: 40px;
	margin-right: 850px;
}

@media(max-width:1439px) {
	.option2 .check {
		margin-right: 515px;
		margin-left: 10px;
	}
}

.option2 .total {
	margin-right: 50px;
}

@media(max-width:1439px) {
	.option2 .total {
		margin-right: 30px;
	}
}

.option2 .total span {
	font-size: 24px;
	color: #A62014;
}

.option2 .operate .point {
	margin-top: 10px;
}

.option2 .operate .btn-s {
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 118px;
	border-radius: 99px;
	background-color: transparent;
	color: #A62014;
	border: .5px solid #A62014;
	margin-left: 10px;
}

.option2 .operate .btn-s:hover {
	background-color: #A62014;
	color: white;
}

.btn-s {
	display: flex;
	justify-content: center;
}

.city {
	position: absolute;
	left: 70px;
	display: flex;
	align-items: flex-end;
	bottom: 0px;
	overflow: hidden;
	width: 30%;
	z-index: -1;
}

.mountain {
	position: absolute;
	left: 1000px;
	display: flex;
	align-items: flex-end;
	bottom: 0px;
	overflow: hidden;
	width: 20%;
	z-index: -1;
}
@media(max-width:1439px) {
	.mountain {
		left: 700px;
	}
}
/* container-footer */
footer {
	background-color: #A62014;
	color: white;
	font-size: 12px;
}

footer div {
	display: flex;
	justify-content: center;
	gap: 450px;
	/* max-width: 1650px;
	width: 100%; */
}

footer nav {
	padding: 0 70px 0 0;
}

footer .menu-list {
	display: flex;
	justify-content: center;
}

footer .menu {
	padding: 10px 50px;
	opacity: 0.9;
}

footer .navigation h2 {
	border-bottom: solid 1px white;
}

footer .menu .submenu {
	padding: 10px 0;
}

footer .menu .submenu a {
	color: white;
}

footer .submenu-icon {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}

footer .submenu-icon .line:hover{
	transform:  scale(1.2);
}

footer .submenu-icon .facebook:hover{
	transform:  scale(1.2);
}


footer .small {
	margin: 0;
	padding: 0;
	justify-content: center;
	opacity: 0.9;
}