html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	letter-spacing: .2rem;
	line-height: 1.2rem;
	font-family: "Noto Sans TC", "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

*{
	box-sizing: border-box;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--primary: #A62014;
	--secend: #A15C38;

	--d: 700ms;
	--e: cubic-bezier(0.19, 1, 0.22, 1);
	--font-sans: 'Rubik', sans-serif;
	--font-serif: 'Cardo', serif;


}

/* container-topbar */
#container-topbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	z-index: 999;
	padding: 16px 24px 20px;
}

.logo {
	padding: 0 0 0 30px;
	width: 65px;
}

#container-topbar .navigation {
	display: flex;
	padding: 0 50px;
}

#container-topbar .navigation .menu {
	display: flex;
	align-items: center;
	gap: 20px;
	font-weight: 550;
	
}

#container-topbar .navigation .menu li {
	border-right: solid 1px white;
	padding: 0 20px 0 0;
}

#container-topbar .navigation .menu li:last-child {
	border-right: none;
}

#container-topbar .navigation .menu a {
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	border-bottom: solid 2px transparent;
}

#container-topbar .navigation .menu a:hover {
	border-bottom: solid 2px white;
	transition: 0.35s ease-in-out;
	padding-bottom: 6px;
}

#container-topbar .navigation .icon {
	display: flex;
	padding: 0 0 0 100px;
	gap: 20px;
}

#container-topbar .navigation .icon a img {
	width: 24px;
	height: 24px;
	color: white;
}

/* 主要內容共用區 */
section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#container-topics,
#container-free,
#container-partner {
	text-align: center;
	padding: 50px 0 50px 0;
	background-color: white;
}

#container-topics h2,
#container-free h2,
#container-partner h2 {
	font-size: 36px;
	margin-bottom: 20px;
	position: relative;
	font-weight: 500;
}

#container-topics h2::after,
#container-free h2::after,
#container-partner h2::after {
	content: '';
	width: 100px;
	height: 3px;
	background-color: #A62014;
	display: block;
	margin: 10px auto 0;
	margin-top: 20px;
}

#container-topics .more-info {
	border: 1px solid var(--secend);
	color: #A62014;
	padding: 8px 30px;
	font-size: 16px;
	border-radius: 99px;
	margin-left: auto;
	margin-right: 240px;
	margin-bottom: 15px;
	cursor: pointer;
}

.more-info a {
	color: var(--secend);
}

.more-info:hover {
	background-color: var(--primary);
	transition: .35s ease-in-out
}

.more-info:hover a {
	color: white;
}


#gotop {
	position: fixed;
	right: 50px;
	bottom: 20px;
	z-index: 999;
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 100%;
	cursor: pointer;
}


/* container-banner */
#container-banner {
	position: relative;
	text-align: center;

}

#container-banner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* container-topics */
#container-topics {
	width: 100%;
	position: relative;
}

#container-topics .layout-button {
	padding-left: 1300px;
	padding-bottom: 34px;
	
}

.box-list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 75%;
	gap: 50px;
	overflow-x: auto;
	overflow-y: hidden;
}

.box-list::-webkit-scrollbar {
	height: 10px;
}

.box-list::-webkit-scrollbar-thumb {
	background: rgb(196, 69, 69);
	cursor: pointer;
	width: 10px;
	

}

.box-list::-webkit-scrollbar-track {
	position: relative;
	background-color: #dbdada;
	/* 設置軌道可滑動部分的背景顏色 */
	background-clip: content-box;
	border: 3px solid transparent;
	/* 用透明邊框縮短可視滾動槽 */
}

.box-list .item {
	width: 100%;
}

.box-list .item figure {
	height: 50vh;
	width: 20vw;
}

.box-list .item img {
	border-radius: 30px;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.box-list .item h3 {
	font-size: 24px;
	margin: 15px 0 10px;
	color: black;
	font-weight: 550;
}

.item p {
	font-size: 16px;
	margin: 15px 0 10px;
	color: black;
	margin-bottom: 40px;
}

.box-list .itemt {
	width: 100%;
}

.box-list .itemt figure {
	height: 50vh;
	width: 20vw;
}

.box-list .itemt img {
	border-radius: 30px;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.box-list .itemt h3 {
	font-size: 24px;
	margin: 15px 0 10px;
	color: black;
	font-weight: 550;
}

.itemt p {
	font-size: 16px;
	margin: 15px 0 10px;
	color: black;
	margin-bottom: 40px;
}

/* container-free */
#container-free {
	background-color: #F7F1F0;
}

#container-free .title {
	padding-bottom: 72px;
}

/* codepan */
.page-content {
	display: grid;
	grid-gap: 1rem;
	padding: 1rem;
	max-width: 1440px;
	margin: 0 auto;
	font-family: var(--font-sans);
	display: grid;
    place-items: center;
}

@media (min-width: 600px) {
	.page-content {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 800px) {
	.page-content {
		grid-template-columns: repeat(5, 1fr);
	}
}

.card {
	position: relative;
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	padding: 1rem;
	width: 100%;
	text-align: center;
	color: whitesmoke;
	background-color: whitesmoke;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
		0 2px 2px rgba(0, 0, 0, 0.1),
		0 4px 4px rgba(0, 0, 0, 0.1),
		0 8px 8px rgba(0, 0, 0, 0.1),
		0 16px 16px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

@media (min-width: 600px) {
	.card {
		height: 350px;
	}
}

.card:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 110%;
	background-size: cover;
	background-position: 0 0;
	transition: transform calc(var(--d) * 1.5) var(--e);
	pointer-events: none;
}

.card:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	pointer-events: none;
	background-image: linear-gradient(to bottom,
			hsla(0, 0%, 0%, 0) 0%,
			hsla(0, 0%, 0%, 0.009) 11.7%,
			hsla(0, 0%, 0%, 0.034) 22.1%,
			hsla(0, 0%, 0%, 0.072) 31.2%,
			hsla(0, 0%, 0%, 0.123) 39.4%,
			hsla(0, 0%, 0%, 0.182) 46.6%,
			hsla(0, 0%, 0%, 0.249) 53.1%,
			hsla(0, 0%, 0%, 0.320) 58.9%,
			hsla(0, 0%, 0%, 0.394) 64.3%,
			hsla(0, 0%, 0%, 0.468) 69.3%,
			hsla(0, 0%, 0%, 0.540) 74.1%,
			hsla(0, 0%, 0%, 0.607) 78.8%,
			hsla(0, 0%, 0%, 0.668) 83.6%,
			hsla(0, 0%, 0%, 0.721) 88.7%,
			hsla(0, 0%, 0%, 0.762) 94.1%,
			hsla(0, 0%, 0%, 0.790) 100%);
	transform: translateY(-50%);
	transition: transform calc(var(--d) * 2) var(--e);
}

.card:nth-child(1):before {
	background-image: url(../images/free/freecompress-pexels-ruiz-2450697.jpg)
}

.card:nth-child(2):before {
	background-image: url(../images/free/freecompress-pexels-balazsimon-16226405.jpg)
}

.card:nth-child(3):before {
	background-image: url(../images/free/freecompress-pexels-eko-cahyono-102048560-9831406.jpg)
}

.card:nth-child(4):before {
	background-image: url(../images/free/images-id-free-4.jpg)
}

.card:nth-child(5):before {
	background-image: url(../images/free/freecompress-pexels-victor-3770955-5589991.jpg)
}

.card .content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 1rem;
	transition: transform var(--d) var(--e);
	z-index: 1;
}

.card .content>*+* {
	margin-top: 1rem;
}

.card .title {
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 1.2;
}

.card .copy {
	font-family: var(--font-serif);
	font-size: 1.125rem;
	font-style: italic;
	line-height: 1.35;
}

.card .btn {
	cursor: pointer;
	margin-top: 1.5rem;
	padding: 0.75rem 1.5rem;
	font-size: 0.65rem;
	font-weight: bold;
	letter-spacing: 0.025rem;
	text-transform: uppercase;
	color: white;
	background-color: black;
	border: none;
}

.card .btn:hover {
	background-color: #333333;
}

.card .btn:focus {
	outline: 1px dashed yellow;
	outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
	.card:after {
		transform: translateY(0);
	}

	.card .content {
		transform: translateY(calc(100% - 4.5rem));
	}

	.card .content>*:not(.title) {
		opacity: 0;
		transform: translateY(1rem);
		transition: transform var(--d) var(--e), opacity var(--d) var(--e);
	}

	.card:hover,
	.card:focus-within {
		align-items: center;
	}

	.card:hover:before,
	.card:focus-within:before {
		transform: translateY(-4%);
	}

	.card:hover:after,
	.card:focus-within:after {
		transform: translateY(-50%);
	}

	.card:hover .content,
	.card:focus-within .content {
		transform: translateY(0);
	}

	.card:hover .content>*:not(.title),
	.card:focus-within .content>*:not(.title) {
		opacity: 1;
		transform: translateY(0);
		transition-delay: calc(var(--d) / 8);
	}

	.card:focus-within:before,
	.card:focus-within:after,
	.card:focus-within .content,
	.card:focus-within .content>*:not(.title) {
		transition-duration: 0s;
	}
}

#container-free .more-info {
	border: 1px solid var(--secend);
	color: #A62014;
	padding: 8px 30px;
	font-size: 16px;
	border-radius: 99px;
	text-align: center;
	margin-top: 15px;
	cursor: pointer;
}

/* container-partner */
#container-partner .title {
	padding-bottom: 72px;
}

.icon-list {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 50px;
}

.icon-list .icon {
	padding: 0 35px;
	width: 100%;
}

.icon-list .icon:hover {
	transform: scale(1.1);
}


.icon-list .icon img {
	width: 100%;
}

/* footer */
footer {
	background-color: #A62014;
	color: white;
	font-size: 12px;
	padding: 20px;
	margin-top: auto;
}

footer div {
	display: flex;
	justify-content: center;
	align-items: center;
    flex-wrap: wrap;

	/* max-width: 1650px;
	width: 100%; */
}

/* footer .logo{
	padding: 20px;
} */

footer nav {
	padding: 0 70px 0 0;
	font-optical-sizing: auto;
}

footer .menu-list {
	display: flex;
	justify-content: center;
}

footer .menu {
	padding: 10px 50px;
	opacity: 0.8;
}

footer .navigation h2 {
	border-bottom: solid 1px white;
}

footer .menu .submenu {
	padding: 10px 0;
}

footer .menu .submenu a {
	color: white;
}

footer .submenu-icon {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}

footer .submenu-icon .line:hover {
	transform: scale(1.2);
}

footer .submenu-icon .facebook:hover {
	transform: scale(1.2);
}


footer .small {
	margin: 0;
	padding: 0;
	justify-content: center;
	opacity: 0.9;
}