html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	letter-spacing: .2em;
	line-height: 1.2rem;
	font-family: "Noto Sans TC", "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul
{
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
	--primary:#A62014;
	--secend:#A15C38;
}

/* container-topbar */
#container-topbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	z-index: 999;
    padding: 16px 24px 20px;
}

.logo {
	padding: 0 0 0 30px;
	width: 65px;
}

#container-topbar .navigation {
	display: flex;
	padding: 0 50px;
}

#container-topbar .navigation .menu {
	display: flex;
	align-items: center;
	gap: 20px;
}

#container-topbar .navigation .menu li {
	border-right: solid 1px white;
	padding: 0 20px 0 0;
}

#container-topbar .navigation .menu li:last-child {
	border-right: none;
}

#container-topbar .navigation .menu a {
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	border-bottom: solid 2px transparent;
}

#container-topbar .navigation .menu a:hover {
	border-bottom: solid 2px white;
	transition: 0.35s ease-in-out;
	padding-bottom: 6px;
}

#container-topbar .navigation .icon {
	display: flex;
	padding: 0 0 0 100px;
	gap: 20px;
}

#container-topbar .navigation .icon a img {
	width: 24px;
	height: 24px;
	color: white;
}

/* 主要內容共用區 */
section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#container-topics,
#container-free,
#container-partner {
	text-align: center;
	padding: 50px 0 50px 0;
	background-color: white;
}

#container-topics h2,
#container-free h2,
#container-partner h2 {
	font-size: 36px;
	margin-bottom: 20px;
	position: relative;
	font-weight: 500;
}

#container-topics h2::after,
#container-free h2::after,
#container-partner h2::after {
	content: '';
	width: 100px;
	height: 3px;
	background-color: #A62014;
	display: block;
	margin: 10px auto 0;
	margin-top: 20px;
}

#container-topics .more-info {
	border: 1px solid var(--secend);
	color: #A62014;
	padding: 6px 20px;
	font-size: 16px;
	border-radius: 99px;
	margin-left: auto;
	margin-right: 240px;
	margin-bottom: 15px;
	cursor: pointer;
}

.more-info a{
	color: var(--secend);
}

.more-info:hover{
	background-color: var(--primary);
}

.more-info:hover a{
	color: white;
}


#gotop{
    position: fixed;
    right: 50px;
    bottom: 20px;
    z-index: 999;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 100%;
	cursor: pointer;
}


/* container-banner */
#container-banner {
	position: relative;
	text-align: center;
	
}

#container-banner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* container-topics */
#container-topics{
	width: 100%;
}
#container-topics .layout-button {
	padding-left: 1300px;
	padding-bottom: 34px;
}

.box-list {
	display: flex;
	justify-content:flex-start;
	align-items: center;
	width: 75%;
	gap: 50px;
	overflow-x: auto;
    overflow-y: hidden;
}

.box-list::-webkit-scrollbar{
	height: 10px;
}

.box-list::-webkit-scrollbar-thumb {
    background: rgb(196, 69, 69);
	cursor: pointer;
	width: 10px;

	
}

.box-list::-webkit-scrollbar-track{
	position: relative;
	background-color: #dbdada; /* 設置軌道可滑動部分的背景顏色 */
	background-clip:  content-box;
    border: 3px solid transparent; /* 用透明邊框縮短可視滾動槽 */
}

.box-list .item{
	width: 100%;
}

.box-list .item figure {
	height: 50vh;
	width: 20vw;
}

.box-list .item img {
	border-radius: 20px;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.item h3 {
	font-size: 24px;
	margin: 15px 0 10px;
	color: black;
	font-weight: 550;

}

.item p {
	font-size: 16px;
	margin: 15px 0 10px;
	color: black;
	margin-bottom: 40px;
}

/* container-free */
#container-free {
	background-color: #F7F1F0;
}

#container-free .title {
	padding-bottom: 72px;
}

#container-free .item {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;
}

#container-free figure {
	height: 30vh;
	width: 15vw;
}

#container-free figure img {
	flex: 1;
	/* box-shadow: 0 5px 8px #898989; */
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#container-free figure .layout-1{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

#container-free figure .layout-2{
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}


#container-free .more-info  {
	border: 1px solid var(--secend);
	color: #A62014;
	padding: 6px 20px;
	font-size: 16px;
	border-radius: 99px;
	text-align: center;
	margin-top: 15px;
}

/* container-partner */
#container-partner .title {
	padding-bottom: 72px;
}

.icon-list {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 50px;
}

.icon-list .icon {
	padding: 0 35px;
	width: 100%;
}

.icon-list .icon:hover {
	transform: scale(1.1);
}


.icon-list .icon img{
	width: 100%;
}

/* footer */
footer {
	background-color: #A62014;
	color: white;
	font-size: 12px;
}

footer div {
	display: flex;
	justify-content: center;
	gap: 450px;
	/* max-width: 1650px;
	width: 100%; */
}

footer nav {
	padding: 0 70px 0 0;
}

footer .menu-list {
	display: flex;
	justify-content: center;
}

footer .menu {
	padding: 10px 50px;
	opacity: 0.9;
}

footer .navigation h2 {
	border-bottom: solid 1px white;
}

footer .menu .submenu {
	padding: 10px 0;
}

footer .menu .submenu a {
	color: white;
}

footer .submenu-icon {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}

footer .submenu-icon .line:hover{
	transform:  scale(1.2);
}

footer .submenu-icon .facebook:hover{
	transform:  scale(1.2);
}


footer .small {
	margin: 0;
	padding: 0;
	justify-content: center;
	opacity: 0.9;
}