* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:
        "Noto Sans TC", sans-serif;
    font-size: 100%;
    letter-spacing: 2px;
	line-height: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

img {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
}

h2{
    font-size: 20px;
    letter-spacing: .32em;
}
p{
    font-size: 16px;
    letter-spacing: .2em;
}
.modal-content {
    display: flex;
    background-color: #ffffff;
    margin: 15% auto;
    border: 1px solid #888;
    width: 45%;
    height: 70%;
    border-radius: 20px;
    overflow: hidden;
}
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.img_L{
    width: 55%;
    height: 70%;
    overflow: hidden;
    margin: auto;
}
.img_L img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.write .icon p{
    font-size: 12px;
}
.write .icon{
    display: inline-flex;
    white-space: nowrap;
}

.inf_R{
    background-color: #F7F1F0;
    width: 35%;
    height: 100%;
    align-items: center;
}
.inf_R .write {
    padding: 25px;
}

#form-date{
    text-align: center;
    
}
#form-date label{
    text-align: left;
}

#form-date .quantity button{
    width: 10%;
}

.quantity {
    align-items: center;
    padding-bottom: 20px;
    padding-top: 15px;
}

.quantity button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    cursor: pointer;
}

.quantity button:hover{
    background-color: #ccc;
}

.quantity input[type="text"] {
    width: 50px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #ffffff;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 20px;
}

.close:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#btn__contact--submit{
	justify-content: center;
    align-items: center;
    height: 40px;
    width: 118px;
	border-radius: 99px;
	background-color: transparent;
	color: #A62014;
	border-color: #A62014;
	border-width: .3px;
    cursor: pointer;
}
#btn__contact--submit:hover {
    background-color: #A62014;
    color: white;
}
.btn{
	display: flex;
	justify-content: center;
}